# Environment Configuration
# Copy this file to .env.development (local) and .env.production (remote)

# PostHog Configuration
VITE_POSTHOG_API_HOST=https://eu.i.posthog.com
VITE_POSTHOG_UI_HOST=https://eu.posthog.com
VITE_POSTHOG_KEY=
